--extra-index-url https://download.pytorch.org/whl/cu128
tabulate
matplotlib
numpy
pandas
nltk
requests
tqdm
torch
torchvision
torchaudio
datasets
adjustText
evaluate
py7zr
scikit-learn
seaborn
rouge_score
